.comments__container {
	margin-top: 72px;
	display: flex;
  justify-content: center;
}

@media all and (max-width: 1279px) {
  .comments__container {
    padding: 0 48px 0 48px;
  }
}

@media all and (max-width: 1023px) {
  .comments__container {
    max-width: 600px;
    margin: 72px auto 0 auto;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 767px) {
  .comments__container {
    width: 100%;
    margin-top: 48px;
    padding: 0 16px 0 16px;
  }
}

@media all and (max-width: 424px) {
  .comments__container {
    margin-top: 40px;
  }
}
